*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: "Roboto", "sans-serif";
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 1rem;
    padding-top: 1rem;
    height: auto;
    background-color: lightgray;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

#colorValue {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

input[type="range"]#redSlider {
    accent-color: red;
}

input[type="range"]#greenSlider {
    accent-color: green;
}

div.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 10px 10px;
    width: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

div.button:hover {
    background-color: grey;
    color: white;
}

div.button:active {
    background-color: rgb(168, 130, 130);
    color: white;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}